To: {{.User.Email}}
Subject: Hello,{{.Camp.Subject}}

Hi {{.User.Name}}

Welcome to the {{.Camp.Name}}! Because you are a premium member, here is your special discount.

Thanks,

The Email Campaign Group

